/* =========================
   PAGE
========================= */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  max-width: none !important;

  width: 100vw;
  min-height: 100vh;

  background-color: #f6f4f3;

  font-family: var(--font-main);
}


/* =========================
   CONTAINER
========================= */

.profil-page {
  width: 100%;
  max-width: 430px;

  margin: 0 auto;
  padding-bottom: 140px;
}


/* =========================
   HEADER
========================= */

.profil-header {
  padding: 60px 30px 120px;

  background: linear-gradient(
    135deg,
    #9F83CF 0%,
    #BCC6DD 100%
  );

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.profil-header h1 {
  color: white;

  margin-bottom: 10px;
}



/* =========================
   BOTTOM NAVIGATION
========================= */

.bottom-nav {
  position: fixed;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);

  width: 100%;
  max-width: 430px;
  height: 95px;

  padding: 12px 22px;

  background-color: rgba(255, 255, 255, 0.95);

  border-top-left-radius: 34px;
  border-top-right-radius: 34px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 -8px 25px rgba(0, 0, 0, 0.08);
}

.nav-item {
  text-decoration: none;

  color: #a8adb8;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.nav-icon {
  width: 48px;
  height: 48px;

  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon img {
  width: 25px;
  height: 25px;

  object-fit: contain;
}

.nav-item.active {
  color: var(--primary);
}

.nav-item.active .nav-icon {
  background: linear-gradient(
    135deg,
    #9F83CF 0%,
    #B7BEDC 100%
  );
}

.second-order {
  margin-top: 60px;
}